# MongoDB connection string
MONGODB_URI = "mongodb+srv://pankaj_soni:pankajsoni@cluster0.npjmi9s.mongodb.net/fashion?retryWrites=true&w=majority&appName=Cluster0"

# Server port
PORT=5000

# Frontend URL for CORS
FRONTEND_URL=http://localhost:8080
